.img {
    height: 40px;
    width: 40px;
  }
  .typography {
      color: #5f6368;
      padding-left: 10px;
      font: 27px Roboto,RobotoDraft,Arial,sans-serif;
    }
    
    .search {
      width: 53%;
      padding-left: 5%;
    }
    
    .icons {
      display: flex;
      flex-direction: row;
      justify-content: end;
      padding-left: 23%;
    }
    